<% title "Edit Page", false %>

<div id="show_wrapper">
  <div class="nav_links clear_fix">
    <div class="left"><%= link_to 'Back to List', admin_pages_path %></div>
    <div class="right"><%= link_to 'View', [:admin, @page] %></div>
  </div>

  <div class="edit_container">
    <%= render 'form' %>
  </div>

</div>