<div id="show_wrapper">
  <div class="nav_links clear_fix">
    <div class="left"><%= link_to 'Back to List', admin_pages_path %></div>
    <div class="right">
      <%= link_to 'Edit', edit_admin_page_path(@page) %>
    </div>
  </div>

  <div class="show_container">
    <div class="row">
      <div class="label">Title</div>
      <div class="data"><%= @page.title %></div>
    </div>
    <div class="row">
      <div class="label">Content</div>
      <div class="data"><%= @page.content.html_safe %></div>
    </div>
  </div>

</div>