<% title "Edit Article" %>

<div class="nav_links">
  <%= link_to 'View details', [:admin, @article] %> |
  <%= link_to 'Back to List', admin_articles_path %>
</div>

<div class="edit_container">
  <%= render 'form' %>
</div>