<div id="article_index">
  <div id="top_bar" class="clear_fix">
    <div class="pagination right"><%= will_paginate @articles %></div>
  </div>

  <div id="articles_container">
  <% for article in @articles %>
    <div class="article">
      <div class="date"><%= article.date %></div>
      <div class="content"><%= simple_format article.content %></div>
    </div>
  <% end %>
  </div>
</div>