* {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  line-height: 1.467em;
}

ul {
  list-style: disc inside none;
  margin: 5px 0;
  padding: 0 0 0 3px;
}

ol {
  list-style-position: inside;
  margin: 5px 0;
  padding: 0; 
}

a {
  color: #7AA821;
}

