/* General
--------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
  color: #666;
  background-color: #e6e6e6;
}

a {
  color: #29ABE2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

input {
  font-size: 13px;
  
}

select {
  
}

textarea {
  
}

p {
  /*margin: 0 0 10px 0;*/
}
/* Header
 *
 *
 */
 
#header_wrap {
  text-align: center;
  margin: 10px 0 0;
}
  #header {
    text-align: left;
    margin: 20px auto 20px;
    position: relative;
    width: 800px;
    height: 20px;
  }
    #logo {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 20px;
      font-weight: normal;
    }
      #logo a {
        color: #666;
        text-decoration: none;
      }
      #logo a:hover {
        color: #666;
      }
    #login_box {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 14px;
    }
      #greeting {
        float: right;
        margin: 0 15px 0 0;
        color: #666;
      }
        #greeting .name {
          color: #333;
        }
      #actions {
        float: right;
        padding: 0 0 0 15px;
        border-left: 1px solid #333;
      }

#navigation_wrap {
  text-align: center;
  margin: 10px 0 0;
}
  #navigation {
    text-align: left;
    margin: 0 auto 20px;
    padding: 0 0 0px 0;
    width: 800px;
    height: 26px;
    line-height: 26px;
  }
    #navigation ul {
      list-style: none;
      position: relative;
      margin: 0;
    }
      #navigation ul li {
        list-style: none;
        display: block;
        float: left;
      }
        #navigation li.last a {
          margin: 0;
        }
        #navigation li a {
          padding: 0;
          margin: 0 30px 0 0;
          font-size: 15px;
          display: block;
          text-decoration: none;
          color: #666;
        }
          #navigation li a.selected {
            color: #29ABE2;
          }
        #navigation li a:hover {
          color: #29ABE2;
        }
        #navigation li:hover ul{
          display: block;
        }
        #navigation li ul {
          display: none;
          list-style: none;
          position: absolute;
          top: 15px;
          left: 0;
          color: #fff;
          background-color: #333;
          margin: 0;
          padding: 10px 0 10px 10px;
          width: 100%;
        }
          #navigation li ul li {
            list-style: none;
            display: inline;
            margin: 0 10px 0 0;
          }
          #navigation li ul li a {
            color: #ddd;
          }
          #navigation li ul li a:hover {
            color: #fff;
          }
    
#main_wrap {
  text-align: center;
  margin: 10px 0 0;
}
  #main_wrap div#main {
    text-align: left;
    margin: 0 auto;
    width: 800px;
    min-height: 300px;
    height: auto !important;
    height: 300px;
  }


#footer_wrap {
  
}
  #footer {
    margin: 0 auto;
    width: 800px;
    padding: 20px 0 50px 0;
    color: #666;
    text-align: center;
  }

/* ----- Misc ----- */
.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
.clear_fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE7 Hack */
.clear_fix {
  clear: both;
  *display: inline-block;
}

/* Pagination
--------------------- */
.pagination {
  
}
  .pagination .prev_page {
    margin: 0 8px 0 0;
  }
  .pagination .next_page {
    margin: 0 0 0 8px;
  }
  .pagination .disabled {
    color: #999;
  }


/* Articles
--------------------- */
#article_index #top_bar {
  background-color: #f2f2f2;
  margin: 0;
  padding: 5px 10px;
}

#articles_container {
  background-color: #f2f2f2;
  padding: 20px 0 20px 70px;
  min-height: 200px;
  height: auto !important;
  height: 200px;
}

.article {
  margin: 0 0 10px 0;
  color: #666;
}
  .article .date {
    margin: 0 0 5px 0;
  }
 
/* Films
--------------------- */
#top_bar {
  border-bottom: 1px solid #999;
  padding: 0 0 3px 0;
  margin: 0 0 15px 0;
}
.film_type_bar {
  
}
  .film_type_bar a {
    color: #333;
    text-decoration: none;
  }

  .directorial_selected .directorial, .editorial_selected .editorial {
    color: #29ABE2;
  }
  
a.film {
  width: 390px;
  float: left;
  display: inline-block;
  margin: 0 20px 0 0;
  background-color: #f2f2f2;
  text-decoration: none;
  color: #666;
}
.last_film {
  margin: 0;
}
 .film h2 {
   font-family: "Georgia", "Times New Roman", serif;
   font-size: 18px;
   font-weight: normal;
   margin: 5px 0 10px 0;
 }
 .film .description {
   font-family: "Georgia", "Times New Roman", serif;
   font-size: 12px;
 }
 .film .section {
   padding: 10px;
   border-bottom: 1px solid #999;
   height: 300px;
 }
 .film .meta_section {
   padding: 10px;
   border: none;
   color: #666;
   height: 70px;
 }
 
#film {
  width: 700px;
  margin: 0 auto 30px;
}
  #film .movie_player {
    margin: 0 0 20px 0;
  }
  #film h2 {
    padding: 3px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #999;
    font-size: 16px;
  }
  #film .description {
    float: left;
    display: inline-block;
    width: 320px;
  }
  #film .details {
    float: right;
    display: inline-block;
    width: 350px;
  }
    #film .details .honors {
      
    }
    #film .details .meta p {
      margin: 0 0 3px 0;
    }

/* Albums
--------------------- */ 
.photo_container {
  margin: 0 17px 20px 0;
  float: left;
  display: inline-block;
}
.photo {
  width: 185px;
  height: 185px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.photo * {
  vertical-align: middle;
}
/*\*//*/
.photo {
  display: block;
}
.photo span {
  display: inline-block;
  height: 100%;
  width: 1px;
}
/**/
.last_photo {
  margin: 0 0 10px 0;
}
.photo img {
} 

#page_container {
  font-family: "Georgia", "Times New Roman", serif;
  color: #666;
  background-color: #f2f2f2;
  padding: 50px 0 50px 100px;
  min-height: 200px;
  height: auto !important;
  height: 200px;
}
  #bio_page {
    width: 500px;
  }
  #cv_page {
    width: 500px;
  }
  