/* General
--------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
  color: #666;
  background-color: #e6e6e6;
}

a {
  color: #29ABE2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

input {
  font-size: 13px;
  
}

select {
  
}

textarea {
  
}

p {
  /*margin: 0 0 10px 0;*/
}

a img {
  border: none;
}
/* Header
 *
 *
 */
 
#header_wrap {
  text-align: center;
  margin: 10px 0 0;
}
  #header {
    text-align: left;
    margin: 20px auto 20px;
    position: relative;
    width: 800px;
    height: 20px;
  }
    #logo {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 20px;
      font-weight: normal;
    }
      #logo a {
        color: #666;
        text-decoration: none;
        background: url(/images/sprite.png) no-repeat top left;
        background-position: 0 -192px; width: 132px; height: 35px;
        display: block;
      }
      #logo a:hover {
        background-position: 0 -228px; width: 132px; height: 35px;
      }
    #login_box {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 14px;
    }
      #greeting {
        float: right;
        margin: 0 15px 0 0;
        color: #666;
      }
        #greeting .name {
          color: #333;
        }
      #actions {
        float: right;
        padding: 0 0 0 15px;
        border-left: 1px solid #333;
      }

#navigation_wrap {
  text-align: center;
  margin: 25px 0 0 0px;
}
  #navigation {
    text-align: left;
    margin: 0 auto 20px;
    padding: 0 0 0px 0;
    width: 800px;
    height: 26px;
    line-height: 26px;
  }
    #navigation ul {
      list-style: none;
      position: relative;
      margin: 0;
    }
      #navigation ul li {
        list-style: none;
        display: block;
        float: left;
      }
        #navigation li.last a {
          margin: 0;
        }
        #navigation li a {
          padding: 0;
          margin: 0 30px 0 0;
          font-size: 15px;
          display: block;
          text-decoration: none;
          color: #666;
          background: url(/images/sprite.png) no-repeat top left;
        }
          #navigation li a.selected {
            color: #29ABE2;
          }
        #navigation li a:hover {
          color: #29ABE2;
        }
        #navigation li:hover ul{
          display: block;
        }
        #navigation li ul {
          display: none;
          list-style: none;
          position: absolute;
          top: 15px;
          left: 0;
          color: #fff;
          background-color: #333;
          margin: 0;
          padding: 10px 0 10px 10px;
          width: 100%;
        }
          #navigation li ul li {
            list-style: none;
            display: inline;
            margin: 0 10px 0 0;
          }
          #navigation li ul li a {
            color: #ddd;
          }
          #navigation li ul li a:hover {
            color: #fff;
          }
          
#navigation #menu-articles a { background-position: 0 -264px; width: 33px; height: 23px; }
#navigation #menu-films a { background-position: 0 -144px; width: 32px; height: 23px; }
#navigation #menu-albums a { background-position: 0 -312px; width: 76px; height: 23px; }
#navigation #menu-bio a { background-position: 0 0; width: 19px; height: 23px; }
#navigation #menu-cv a { background-position: 0 -96px; width: 22px; height: 23px; }
#navigation #menu-contact a { background-position: 0 -48px; width: 45px; height: 23px; }

#navigation #menu-articles a:hover { background-position: 0 -288px; width: 33px; height: 23px; }
#navigation #menu-films a:hover { background-position: 0 -168px; width: 32px; height: 23px; }
#navigation #menu-albums a:hover { background-position: 0 -336px; width: 76px; height: 23px; }
#navigation #menu-bio a:hover { background-position: 0 -24px; width: 19px; height: 23px; }
#navigation #menu-cv a:hover { background-position: 0 -120px; width: 22px; height: 23px; }
#navigation #menu-contact a:hover { background-position: 0 -72px; width: 45px; height: 23px; }

#navigation #menu-articles a.selected { background-position: 0 -288px; width: 33px; height: 23px; }
#navigation #menu-films a.selected { background-position: 0 -168px; width: 32px; height: 23px; }
#navigation #menu-albums a.selected { background-position: 0 -336px; width: 76px; height: 23px; }
#navigation #menu-bio a.selected { background-position: 0 -24px; width: 19px; height: 23px; }
#navigation #menu-cv a.selected { background-position: 0 -120px; width: 22px; height: 23px; }
#navigation #menu-contact a.selected { background-position: 0 -72px; width: 45px; height: 23px; }
    
#main_wrap {
  text-align: center;
  margin: 10px 0 0;
}
  #main_wrap div#main {
    text-align: left;
    margin: 0 auto;
    width: 800px;
    min-height: 450px;
    height: auto !important;
    height: 450px;
  }


#footer_wrap {
  
}
  #footer {
    margin: 0 auto;
    width: 800px;
    padding: 20px 0 50px 0;
    color: #666;
    text-align: center;
  }

/* ----- Misc ----- */
.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
.clear_fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE7 Hack */
.clear_fix {
  clear: both;
  *display: inline-block;
}

.hidden {
  display: none;
}

/* Pagination
--------------------- */
.pagination {
  
}
  .pagination em {
    color: #000;
    font-style: normal;
    text-decoration: underline;
  }
  .pagination .previous_page {
    margin: 0 8px 0 0;
  }
  .pagination .next_page {
    margin: 0 0 0 8px;
  }
  .pagination .disabled {
    color: #999;
  }


/* Articles
--------------------- */
#article_index #top_bar {
  background-color: #f2f2f2;
  margin: 0;
  padding: 5px 10px;
}

#articles_container {
  background-color: #f2f2f2;
  padding: 20px 90px 20px 65px;
  min-height: 200px;
  height: auto !important;
  height: 200px;
}

.article {
  margin: 0 30px 30px 0;
  color: #666;
}
  .article * {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12px;
  }
  .article .date {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
    margin: 0 0 5px 0;
  }
  .article p {
    margin: 0 0 10px 0;
  }
 
/* Films
--------------------- */
#top_bar {
  border-bottom: 1px solid #999;
  padding: 0 0 3px 0;
  margin: 0 0 15px 0;
}
.film_type_bar {
  
}
  .film_type_bar a {
    color: #333;
    text-decoration: none;
  }

  .directorial_selected .directorial, .editorial_selected .editorial, ._selected .all {
    color: #29ABE2;
  }
  
a.film {
  width: 390px;
  float: left;
  display: block;
  margin: 0 20px 0 0;
  background-color: #f2f2f2;
  text-decoration: none;
  color: #666;
}
a.last_film {
  margin: 0;
}
 .film h2 {
   font-family: "Georgia", "Times New Roman", serif;
   font-size: 18px;
   font-weight: normal;
   margin: 5px 0 10px 0;
 }
 .film .description, .film .description * {
   font-family: "Georgia", "Times New Roman", serif;
   font-size: 12px;
 }
 .film .section {
   padding: 10px;
   border-bottom: 1px solid #999;
   /*
   min-height: 300px;
   height: auto !important;
   */
   height: 300px;
   overflow: hidden;
 }
  .film .section:hover img {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
 .film .meta_section {
   padding: 10px;
   border: none;
   color: #666;
   height: 70px;
 }
 
#film {
  width: 700px;
  margin: 0 auto 30px;
}
  #film .movie_player {
    margin: 0 0 20px 0;
  }
  #film h2 {
    padding: 3px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #999;
    font-size: 16px;
  }
  #film .description {
    float: left;
    display: inline-block;
    width: 320px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
    font-size: 11px;
  }
  #film .details {
    float: right;
    display: inline-block;
    width: 350px;
  }
    #film .details .awards {
      
    }
    #film .details .meta p {
      margin: 0 0 3px 0;
    }

/* Albums
--------------------- */ 
.album {
  float: left;
  display: inline-block;
  margin: 0 20px 20px 0;
  text-align: center;
}
  .album:hover img {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  .album .title {
    
  }

.photo_container {
  margin: 0 17px 20px 0;
  float: left;
  display: inline-block;
}

/* Vertical center */
.photo {
  width: 185px;
  height: 185px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.photo * {
  vertical-align: middle;
}
/*\*//*/
.photo {
  display: block;
}
.photo span {
  display: inline-block;
  height: 100%;
  width: 1px;
}
/**/

.photo:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.last_photo, .last_album {
  margin-right: 0;
}

/* Pages
--------------------- */
#page_container {
  font-family: "Georgia", "Times New Roman", serif;
  color: #666;
  background-color: #f2f2f2;
  padding: 50px 0 50px 65px;
  min-height: 350px;
  height: auto !important;
  height: 350px;
}
  #bio_page {
    width: 500px;
  }
  #cv_page {
    width: 500px;
  }
  
#contact_container {
  background-color: #f2f2f2;
  padding: 50px 0 50px 30px;
  min-height: 350px;
  height: auto !important;
  height: 350px;
}

/* Form
--------------------- */
.form_container {
  width: 375px;
}
form .field {
  margin: 0 0 10px 0;
}
  form .field label {
    float: left;
    display: block;
    width: 100px;
    margin: 0 10px 0 0;
    text-align: right;
  }
  form .field input {
    float: left;
    display: block;
    width: 250px;
    font-size: 12px;
    font-family: "Georgia", "Times New Roman", serif;
  }
  
  .text_field {
    float: left;
    display: inline-block;
    border: 1px solid #ccc;
    outline: none;
    height: 20px;
    padding: 0 5px;
  }
  .text_field:hover, .text_field:focus {
    border: 1px solid #aaa;
  }
  textarea {
    float: left;
    display: inline-block;
    border: 1px solid #ccc;
    outline: none;
    height: 200px;
    width: 250px;
    padding: 2px 5px;
    font-size: 12px;
    font-family: "Georgia", "Times New Roman", serif;
  }
  textarea:hover, textarea:focus {
    border: 1px solid #aaa;
  }
  
  .submit_field_container {
    margin: 20px 0 0 0;
  }
    .submit_field {
      float: right;
      display: inline;
    }
  